@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root{
    --color-primary: #006241; /*here we write the color of the starbucks site i.e. green*/
    --color-secondary: #d50032;
    --color-extra: #d4e9e2;
}

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

 html,
  body
 {
    font-family: 'open sans', sans-serif;
    line-height: 1.4;
    color: #000;
 } 

 a {
    color: #000;
 }
 ul {
    list-style: none;
 }

 p{
    margin: 5px 0;
    line-height: 1.7;
 }/*why is p used here*/
 
 img{
    max-width: 100%;
 }
 section a {
    color: #fff;
 }
 /*navbar*/

 .navbar
 {
width: 100%;
height: auto;
background-color: white;
padding: 20px;
box-shadow: 0 1px 3px rgb(0 0 0/ 10%),0 2px 2px rgb( 0 0 0/ 6%),0 0 2px rgb(0 0 0 / 7%); /*why this is used what is the logic here*/ 
 }
 .navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0;
 }
 .navbar ul  {
    display:flex; 
    align-items: center;
 }
 .navbar li {
    margin: 0 15px;
    font-weight: bold;
 }
 .navbar a{
      color: #000;
      text-decoration: none;
 }
 .navbar a:hover{
    color: var(--color-primary);     /*to add the color when cursor moved on the items of navbar*/
 }
 .navbar-brand{
    width: 50px;
    height: 50px;
 }
 .navbar-nav-left{
    text-transform: uppercase;
    flex: 1; /*it just shift the nav left closer to the starbucks logo*/
    margin-left: 20px;
   } 
    .navbar-nav-right li:first-child a {
        display:flex;
        align-items: center;
    }
 .navbar-nav-right img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
 }
 .navbar-nav-right li:nth-child(2) {
margin: 0 5px;
 }  /*to edit the gap btw the nth line of the listed items*/

     /*box*/
.box{
     margin-bottom: 30px;
}

.box-inner{
     max-width: 700px;
     margin: 0 auto;
}
.box-text {
    max-width: 500px;
    text-align: center;
    justify-self: center;
    padding: 20px 0;
    margin: 0 auto;
}
.box-f .box-text{
   max-width: 600px;
  
}
.box-text .btn {
    margin-top: 20px;
}

/* Grid Styles */
.grid-col-2
{
    display: grid;
    grid-template-columns: 1fr 1fr; /*to provide the space*/
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
} 
.grid-reversed:first-child {
    order: 2; /*the frst child will get order 2*/

}
 /*buttons*/

 .btn
 {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px #000 solid;
    border-radius: 50px;
    padding:7px 16px; 
    line-height: 1.2 ;
    text-align: center;
    text-decoration: none; 
 }
 .btn-dark-outline 
 {
    border-color:black;
    color: #000;
 }
 .btn-dark-outline:hover,
 .btn-light-outline:hover{
    background-color: rgba(0, 0,0, 0.06);
 } 
 .btn-light-outline 
 {
    border-color: white;
    color: white;
 }
  .btn-dark {
    background-color: #000;
    color: #fff;
  }
  .btn-dark:hover{
    background-color:#333;
  }
/* backgraounds */
.bg-primary {
    background-color: var(--color-primary) ;
    color: #fff;
}
.bg-secondary {
    background-color: var(--color-secondary) ;
    color: #fff;
}
.bg-extra {
    background-color: var(--color-extra) ;
    color: #000;
}
.bg-dark {
    background-color: var(--color-dark) ;
    color: black;
}
/*text styling*/
.text-center {
    text-align: center;
}
.text-xl
{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 600;
    margin-bottom: 20px;
}
.text-lg
{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.text-md
{
    font-size: 24px;
    margin-bottom: 20px;
}
.text-sm
{
    font-size: 19px;
    margin-bottom: 20px;
}
/*padding*/
.py-sm /*why this padding is given here*/
{
    padding: 10px 0;
}
.py-md
{
    padding: 20px 0;
}
.py-lg
{
    padding: 40px 0;
}
 
@media(max-width: 960px) {/*why this is being used here */
    .text-xl{
        font-size: 30px;
    }
    .text-lg{
        font-size: 25px;
    }

    .text-md{ 
        font-size: 19px;
    }

}

@media(min-width: 1440px) {
    .box{
         max-width: 1440px;
         margin-right:auto;
         margin-left: auto;
    }
   
}
